*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    background-color: white;
    padding: 5px;
}
.top {
    margin-left: 20px;
    height: 80px; /* Set a fixed height for the header */
}
.top img {
    max-height: 100%;
    width: auto;
    object-fit: contain;
}
img{
    height: 80px;
    width: 120px;
}
body{
    min-height: 100vh;
    background-color: #D9E5F3;
}
 .sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: white;
    height: 100%;
    overflow: auto;
  }
  
 
  .sidebar a {
    display: block;
    color: #134077;
    padding: 16px;
    text-decoration: none;
  }
    
 
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
 
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  } 