*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    background-color: white;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 1.5px #0057FF;
    margin-bottom: 60px;
}
.top {
    margin-left: 20px;
    height: 80px; /* Set a fixed height for the header */
}
.top img {
    max-height: 100%;
    width: auto;
    object-fit: contain;
}
img{
    height: 80px;
    width: 120px;
}
body{
    min-height: 100vh;
    background-color: #D9E5F3;
}
h1{
    text-align: center;
    color: #134077;
    margin-bottom: 50px;
}
p{
    color: rgb(168, 168, 168);
    margin-top: 10px;
    margin-bottom: 10px;
}
.container{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin:0;
}
.first-event{
    background-color: white;
    text-align: center;
    padding: 20px;
    width: 220px;
    border: 1px;
    border-style: solid;
    border-color: #134077;
    border-radius: 10px;
}
.second-event{
    background-color: white;
    text-align: center;
    padding: 20px;
    width: 220px;
    border: 1px;
    border-style: solid;
    border-color: #134077;
    border-radius: 10px;
}
.third-event{
    background-color: white;
    text-align: center;
    padding: 20px;
    width: 220px;
    border: 1px;
    border-style: solid;
    border-color: #134077;
    border-radius: 10px;
}
button{
    border: none;
    border-radius: 8px;
    color: white;
    font-size: small;
    font-weight: 200;
    padding: 10px;
    width: 170px;
    background-color: #0057FF;
}
